.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 40px;
  border: 1px solid rgba(235, 195, 182, 0.2);
  box-shadow: 0px 4px 15px rgba(232, 203, 203, 0.68);
  cursor: pointer;
  transition: 0.1s linear;

  &:hover {
    transition: 0.1s linear;
  }

  &--red {
    background: $accent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    transition: 0.2s linear;
    &:hover {
      transition: 0.2s linear;
      background: #fff;
      border: 1px solid $accent;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &--white {
    background: #fff;
    border: 1px solid $accent;
    transition: 0.2s linear;
    &:hover {
      transition: 0.2s linear;
      background: $accent;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
  }
}
